{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'externalpage/assets/img/apple-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'externalpage/assets/img/favicon.png' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{% block title %}StockPy{% endblock title %}</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="{% static 'externalpage/assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'externalpage/assets/css/now-ui-kit.css' %}?v=1.1.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="{% static 'externalpage/assets/css/demo.css" rel="stylesheet' %}" />
    {% block css %}{% endblock css %}
</head>

<body class="signup-page">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-white navbar-absolute navbar-transparent">
        <div class="container">
            <div class="navbar-translate">
                <strong>StockPy</strong>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" data-nav-image="{% static 'externalpage/assets/img/blurred-image-1.jpg' %}" data-color="orange">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#about-us">
                            <i class="now-ui-icons business_bulb-63"></i>
                            <p>About us</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">
                            <i class="now-ui-icons ui-1_send"></i>
                            <p>Contact</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link btn btn-primary" data-toggle="modal" data-target="#loginModal">
                            <p>Log in</p>
                        </a>
                    </li>
                    <!-- <li class="nav-item">
					<a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/" target="_blank">
						<i class="fa fa-twitter"></i>
						<p class="hidden-lg-up">Twitter</p>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/" target="_blank">
						<i class="fa fa-facebook-square"></i>
						<p class="hidden-lg-up">Facebook</p>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/" target="_blank">
						<i class="fa fa-instagram"></i>
						<p class="hidden-lg-up">Instagram</p>
					</a>
				</li> -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    {% block page-header %}
    {% endblock page-header %}
    {% block sections %}
    {% endblock sections %}

    {% block general_notice_modal %}
    <!-- Start general notice modal -->
    <div class="modal fade" id="generalNoticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notice">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                    {% if general_notice_modal_title %}
                    <h5 class="modal-title" id="myModalLabel">{{ general_notice_modal_title }}</h5>
                    {% endif %}
                </div>
                <div class="modal-body">
                    <div class="instruction">
                        <div class="row">
                            <div class="col-md-8">
                                {% if general_notice_modal_sub_title %}
                                <strong>{{ general_notice_modal_sub_title }}</strong>
                                {% endif %}
                                {% if general_notice_modal_description %}
                                <p class="description">{{ general_notice_modal_description }}</p>
                                {% endif %}
                            </div>
                            {% if general_notice_modal_image %}
                            <div class="col-md-4">
                                <div class="picture">
                                    <img src="{% static general_notice_modal_image %}" alt="Thumbnail Image" class="rounded img-raised">
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" onclick="location.href='{{ general_notice_button_link }}';" class="btn btn-info btn-round" data-dismiss="modal">Dismiss</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end notice modal -->
    {% endblock general_notice_modal %}
    {% block login-modal %}
    <!-- Login Modal -->
    <div class="modal fade modal-primary" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div class="card card-login card-plain">
                    <div class="modal-header justify-content-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="now-ui-icons ui-1_simple-remove"></i>
                        </button>
                        <div class="header header-primary text-center">
                            <div class="logo-container">
                                <img src="{% static 'externalpage/assets/img/now-logo.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <form class="form" method="post" action="/login/">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="card-content">
                                {% for field in login_form %}
                                    {% for error in field.errors %}
                                        <span style="color:white;">{{ error }}</span>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in login_rest_api_error_list %}
                                    <div style="color:white;">{{ error }}</div>
                                {% endfor %}
                                {% if login_fail %}
                                    <span style="color:white;">{{ login_fail }}</span>
                                {% endif %}
                                {% if success_message %}
                                    <span style="color:green;"><strong>{{ success_message }}</strong></span>
                                {% endif %}

                                {% for field in login_form %}
                                <div class="input-group form-group-no-border input-lg">
                                    <span class="input-group-addon">
                                        {% if field.name == "username" %}
                                            <i class="now-ui-icons ui-1_email-85"></i>
                                        {% elif field.name == "password" %}
                                            <i class="now-ui-icons ui-1_lock-circle-open"></i>
                                        {% endif %}
                                    </span>
                                    {{ field }}
                                </div>
                                {% endfor %}
                                <span color="black"><a href="/forgotten-password/">Forgotten password?</a></span>
                            </div>
                        </div>
                        <div class="modal-footer text-center">
                            <input type="submit" class="btn btn-neutral btn-round btn-lg btn-block" value="Log in">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--  End Modal -->
    {% endblock login-modal %}
    {% block user_activation_modal %}
    <!-- User activation modal -->
    <div class="modal fade" id="userActivationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                    <h4 class="title title-up"></h4>
                </div>
                <div class="modal-body">
                    <p>This account doesn't seem to be activated. Check your mail ({{ email }}) for an activationlink or click the button below to resend activation link to {{ email }}.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default">Resend actiavtion link</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--  End Modal -->
    {% endblock user_activation_modal %}
    {% block forgotten_password_modal %}
    <!-- Forgotten Password Modal -->
    <div class="modal fade modal-primary" id="forgottenPasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div class="card card-login card-plain">
                    <h4 class="card-title text-center">Reset Password</h4>
                    <div class="modal-header justify-content-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="now-ui-icons ui-1_simple-remove"></i>
                        </button>
                    </div>
                    <form class="form" method="post" action="/forgotten-password/">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="card-content">
                                {% for field in forgotten_password_form %}
                                    {% for error in field.errors %}
                                        <span style="color:white;">{{ error }}</span>
                                    {% endfor %}
                                {% endfor %}
                                {% if forgotten_password_success_message %}
                                    <span style="color:green;"><strong>{{ forgotten_password_success_message }}</strong></span>
                                {% endif %}

                                {% for field in forgotten_password_form %}
                                <div class="input-group form-group-no-border input-lg">
                                    <span class="input-group-addon">
                                        {% if field.name == "email" %}
                                            <i class="now-ui-icons ui-1_email-85"></i>
                                        {% endif %}
                                    </span>
                                    {{ field }}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="modal-footer text-center">
                            <input type="submit" class="btn btn-neutral btn-round btn-lg btn-block" value="Send email">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--  End Forgotten Password Modal -->
    {% endblock forgotten_password_modal %}
    {% block footer %}
    <footer class="footer footer-default ">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#loginModal">
                            Log in
                        </a>
                    </li>
                    <li>
                        <a href="#register">
                            Register
                        </a>
                    </li>
                    <li>
                        <a href="#about-us">
                            About us
                        </a>
                    </li>
                    <li>
                        <a href="#contact">
                            Contact
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>, Stockpy by Max Xie
            </div>
        </div>
    </footer>
    {% endblock footer %}
</body>
<!--   Core JS Files   -->
<script src="{% static 'externalpage/assets/js/core/jquery.3.2.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'externalpage/assets/js/core/popper.min.js' %}" type="text/javascript"></script>
<script src="{% static 'externalpage/assets/js/core/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'externalpage/assets/js/plugins/moment.min.js' %}"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="{% static 'externalpage/assets/js/plugins/bootstrap-switch.js' %}"></script>
<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
<script src="{% static 'externalpage/assets/js/plugins/bootstrap-tagsinput.js' %}"></script>
<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="{% static 'externalpage/assets/js/plugins/bootstrap-selectpicker.js' %}" type="text/javascript"></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="{% static 'externalpage/assets/js/plugins/jasny-bootstrap.min.js' %}"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{% static 'externalpage/assets/js/plugins/nouislider.min.js' %}" type="text/javascript' %}"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="{% static 'externalpage/assets/js/plugins/bootstrap-datetimepicker.min.js' %}" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="{% static 'externalpage/assets/js/now-ui-kit.js' %}?v=1.1.0" type="text/javascript"></script>
{% block js %}{% endblock js %}

{% if open_login_modal == "True" %}
<script type="text/javascript">
    $(window).on('load',function(){
        $('#loginModal').modal('show');
    });
</script>
{% endif %}

{% if open_user_activation_modal == "True" %}
<script type="text/javascript">
    $(window).on('load',function(){
        $('#userActivationModal').modal('show');
    });
</script>
{% endif %}

{% if open_general_notice_modal == "True" %}
<script type="text/javascript">
    $(window).on('load',function(){
        $('#generalNoticeModal').modal('show');
    });
</script>
{% endif %}

{% if open_forgotten_password_modal == "True" %}
<script type="text/javascript">
    $(window).on('load',function(){
        $('#forgottenPasswordModal').modal('show');
    });
</script>
{% endif %}

</html>
